<nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <ul class="navbar-nav mx-auto d-flex align-items-center">
            <li class="nav-item">
                <img src="../assets/logo.png" alt="Logo de l'entreprise" style="width: 90px; height: auto; margin-right: 20px;">
            </li>
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link" style="font-size: 22px;">Accueil</a>
            </li>
            <li class="nav-item">
                <a routerLink="show-all-employees" routerLinkActive="active" class="nav-link" style="font-size: 22px;">Liste des employés</a>
            </li>
            <li class="nav-item">
                <a routerLink="add-employee" routerLinkActive="active" class="nav-link" style="font-size: 22px;">Ajouter un employé</a>
            </li>
        </ul>
    </div>
</nav>




<!-- <div class="container"> -->

    <router-outlet></router-outlet>
<!-- </div> -->


<footer class = "footer">
    <div class = "container">
        <span>Système de gestion des employés</span>
    </div>
</footer>

