.nav-item{color:white;
    margin-left: 2.5rem ;
    font-size: 1rem;
    
}



.navbar{
    color: white;
    
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 3rem;
}
.navbar-nav {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    width: 100%; /* Assure que la liste occupe toute la largeur disponible */
}

.nav-item {
    margin: 0 5px; /* Espacement entre les éléments */
}

.nav-item img {
    margin-right: 5px; /* Espacement entre l'image et les éléments de navigation */
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    width: 100%; /* Assure que la liste occupe toute la largeur disponible */
}

.nav-item {
    margin: 0 5px; /* Espacement entre les éléments */
}

.nav-item img {
    margin-right: 5px; /* Espacement entre l'image et les éléments de navigation */
}

.nav-link {
    font-size: 25px; /* Taille de la police des éléments de navigation */
}



.logout-option {
    display: none;
}

.nav-item:hover .logout-option {
    /* display: inline; */

    display: block;
}